* {
    margin: 0;
    padding: 0;
}

html {
    /* min-height: 400px; */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

#wrapper {
    /* background-color: #fff; */
}

a {
    color: #999;
    text-decoration: none;
}

form {
    text-align: center;
}

.left {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    width: 6rem;
    padding: 1rem;
    margin: 1rem auto;
}

.welcome {
    font-size: 1rem;
    text-indent: -1rem;
}

.options {
    font-size: 0.6rem;
    text-indent: 6rem;
    margin: 1rem;
}

.division {
    margin: 0 1rem;
}

.icon {
    z-index: 100;
    width: 1rem;
    position: relative;
    top: 2rem;
    left: -7rem;
}

.username,
.password {
    width: 17rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 1.2rem;
    text-indent: 2.8rem;
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc;
}

.username:focus,
.password:focus {
    color: #333;
}

input[type="checkbox"] {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
}

.btn-login {
    width: 17rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: orange;
    text-align: center;
    color: #fff;
    letter-spacing: .5rem;
    outline: none;
    border: none;
    margin: 1rem 0;
    font-size: 1rem;
}

.right {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(./img/right-img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* 768px */
@media screen and (max-width : 768px) {
    #wrapper {
        width: 100%;
        height: 100%;
    }
    .left {
        width: 100%;
        height: 100%;
    }
    .right {
        display: none;
    }
}

/* 4000px */
@media screen and (max-width : 960px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width : 2400px) {
    html {
        font-size: 30px;
    }
}

